.dashboard {
  padding: 20px;
  background-color: white;
}

.summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.charts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
